@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');/*font-family: Chelsea Market*/

.container {
  font-family:chelsea market;
  background-color: #cc99ff;
  color:white;
  text-shadow:2px 2px black;
  padding:20px;
  
  
}

a{
  color:white;
  text-decoration:none;
  border:1px solid white;
  padding:10px
}

h2{
  font-family:chelsea market;
  text-align: Right;
}


  
 
  
  





.image{
 background:url(https://picsum.photos/150);
 height:150px;
  width:150px;
  display:flex;
  justify-content:center;
  
}
 

